.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem;
}

.chatHeader__hash {
  font-size: 2rem;
  padding: 0.7rem;
  color: gray;
}
.chatHeader__left {
  flex: 0.7;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.2;
  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
  cursor: pointer;
  padding: 0.4rem;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: white;
}

.chatHeader__search {
  display: flex;
  /* 
  align-items: center;
  color: gray;
  */
  border-radius: 0.5rem;
  background-color: #2f3135;
  /* flex: 1; */
  padding: 0.4rem;
  margin-left: 2rem;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  border: none;
  color: white;
}

.chatHeader__right_right {
  display: flex;
  align-items: center;
  flex: 0.35;
  justify-content: space-between;
}
.chatHeader__right_right > .MuiSvgIcon-root {
  padding: 0.3rem;
}
