.message {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1.3rem;
  color: white;
}

.message__info {
  margin-left: 1.3rem;
}
.message__timestamp {
  color: gray;
  margin-left: 1.3rem;
  font-size: small;
}
