.sidebar__voice,
.sidebar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  border-top: 1px solid gray;
  margin: 0 0.3rem;
  padding: 1.1rem;
}

.sidebar__voiceInfo,
.sidebar__profileInfo {
  flex: 1;
  padding: 10px;
}

.sidebar__voiceIcon {
  color: #4fb185;
}

.sidebar__voiceInfo > h3 {
  color: #4fb185;
}

.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root,
.sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

/* sidebar profile only  */

.sidebar__profileInfo > h3 {
  color: white;
}
.sidebar__profile__avatar {
  cursor: pointer;
}
